@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root {
    --color1: #C62828;
    --color2: #3F6C8E;
    --color3: #7A8A99;
    --color4: #ccc7bf;

    --font-padrao-2: "Poppins", sans-serif;
    --font-padrao: "Roboto", sans-serif;
    --font-favorita: "Delius", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color4);
    position: relative;
}

header {
    min-height: 100px;
    min-width: 100%;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.2); /* cor transparente */
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    border-radius: 0px 0px 10px 10px ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.192);
    z-index: 1000;
}


header > nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-family: var(--font-padrao);
    font-size: 18px;
}

.bandeira {
    height: 50px;
    align-items: center;
    display: inline-block;
}

header > nav > a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--text-pd);
    color: black;
    transition: .4s; 
}

header > nav > a:hover {
    background-color: var(--color3);
    color: white;
    border-radius: 10px;
}

main {
    min-width: 200px;
    max-width: 1200px;
    margin: 120px auto;
    text-justify: distribute;
}

h2 {
    font-family: var(--font-favorita);
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: var(--font-padrao);
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 20px;
}

ul {
    list-style-position: inside;
    font-family: var(--font-padrao);
    font-size: 18px;
    line-height: 2em;
}

table {
width: 500px;
border-collapse: collapse;
position: relative;
font-family: var(--font-padrao);
margin: auto;
margin-top: 50px;
position: relative;
}

td, th {
border: 1px solid black;
padding: 10px;
background-color: rgba(109, 109, 109, 0.548);
}

caption {
font-size: 1.5em;
font-weight: bold;
padding: 10px;
background-color: rgba(172, 172, 172, 0.897);
font-family: var(--font-favorita);
}

thead {
background-color: rgb(37, 37, 37);
color: rgba(255, 255, 255, 0.493);
font-family: var(--font-favorita);
}

thead >tr > th {
top: -1px;
background-color: rgb(37, 37, 37);
}


.num-table-1 {
text-align: right;
width: 60px;
}



.img {
    display: inline-block;
    padding-top: 30px;
}

.img  img {
    height: 200px;
    display: inline-block;
    border-radius: 10px;
}

footer {
    height: 50px;
    background-color: black;
    text-align: center;
}

footer > p {
    color: white;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}