@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.conteiner {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(2px);
}

.conteiner:hover {
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.conteiner h1 {
    font-size: 36px;
    align-items: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: aliceblue;
    padding: 25px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(168, 168, 168);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

/* 
        Margin & padding

    1 valor - margin: 20px - todos os lados
    2 valores - margin: 20px 30px - em cima e embaixo, dos lados
    3 valores - padding: 20px 10px 30px - Em cima, dos lados, Embaixo
    4 valores - margin: 10px 20px 35px 20px - em cima, direita, embaixo, esquerda
*/


.remember-forgot label input {
    accent-color: #fcfcfc;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.7s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}