@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor01: #E4F2E7;
    --cor02: #97A6A0;
    --cor03: #93BFB7;
    --cor04: #387373;
    --cor05: #2D3E40;

    --text-fv: "Delius", cursive;
    --text-pd:"Google Sans Code", monospace;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor03);
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), rgba(0, 0, 0, 0.918));
    height: 100px;
    width: 100%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.308);
}

nav {
    text-align: center;
    padding-top: 35px;
}

header > nav > a {
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: white;
    font-family: var(--text-fv);
    font-size: 1.2em;
    transition: .2s;
}

a:hover {
    border-radius: 10px;
    color: black;
    background-color: var(--cor02);
}

main { 
    min-height: 150px;
    max-width: 1200px;
    margin: 50px auto 50px auto;
    border-radius: 10px;
}

main > article {
    padding: 50px;
    text-align: center;
}


main > article > h1 {
    font-family: var(--text-fv);
    font-weight: bold;
    color: var(--cor05);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
    padding-bottom: 20px;
}

main > article > h2 {
    font-family: var(--text-fv);
    color: var(--cor05);
    padding-bottom: 10px;
}

main > article > p {
    color: var(--cor05);
    font-family: var(--text-pd);
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1em;
    
}

main > article > img {
    display: block;
    height: 300px;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.video {
    
    position: relative;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
}

div.video > iframe {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 90%;
    height: 90%;
}

footer {
    height: 200px;
    background-color: var(--cor05);
}

footer > p {
    color: white;
    text-align: justify;
    font-size: .8em;
    padding: 30px 20px 0 20px;
    font-family: var(--text-pd);
}

#p-footer {
    font-size: 1em;
    text-align: center;
}

footer > p > a {
    font-family: var(--text-pd);
    text-decoration: none;
    color: white;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.445);
    background-color: var(--cor05);
}

footer > p > a:hover {
    text-decoration: underline;
    background-color: #2D3E40;
    color: var(--cor04);
    box-shadow: 5px;
}
