@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poiret+One&display=swap');

:root {
    --cor01:#CAD95B;
    --cor02:#A0C451;
    --cor03:#467302;
    --cor04:#325528;
    --cor05:#1A2601;

    --tex-fv: "Imperial Script", sans-serif;
    --tex-pd: "Poiret One", sans-serif;
}

* {
    padding: 0;
    margin: 0
}

body {
    background-color: var(--cor02);
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04));
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--tex-pd);
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.171);
}

header > nav > a {
    color: var(--cor05);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
    transition: .3s;
}

header > nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor01);
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.116);
}

main {
    min-width: 120px;
    max-width: 1200px;
    margin: auto;
}

main > article {
    margin-top: 50px;
}


.conteiner-1 {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.082);
}



h1 {
    font-family: var(--tex-fv);
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    padding: 20px 0 10px 0;
    font-family: var(--tex-fv);
    font-size: 35px;
    text-align: center;
}

p {
    text-indent: 30px;
    font-family: var(--tex-pd);
    font-weight: bold;
    line-height: 2em;
    text-align: justify;
    padding: 10px 20px 20px 20px;
}

#img-1 {
    display: block;
    margin: auto;
    height: 400px;
}

img {
    display: block;
    margin: auto;
    height: 300px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
}

footer {
    background-color: var(--cor04);
    height: 100px;
}

footer > p {
    text-align: center;
    color: var(--cor02);
    padding-top: 35px;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor02);
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor01);
}